* {
	box-sizing: border-box;
}

/*btns from Styled Buttons
===========================*/
.btn {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/*Custom Classes*/
/*================*/
.text-center {
	text-align: center;
}
.dark {
}
.light {
}
header div nav {
	text-align: center;
}
.hero-image {
	background-image: url("images/space.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
/*HERO IMAGE Landing Page
==========================*/
/* body {
	background-color: black;
} */
/*Selfie:  z-index makes it pop 100 elements in front, on the z index
Margin, position, and text-align serve to center the img
top sets the top edge 250px from the top of the page since there are no ancestors
*/
#photo {
	z-index: 100;
	margin: auto;
	position: relative;
	text-align: center;
	top: 400px;
  width: 10%;
	height: 10%;
  border-radius: 50%
}
/*Selfie: width and height size the image, border-radius creates the circle 
Vertical-align, margin, and display center the image
*/
#photo img {
	display: block;
	margin: auto;
	vertical-align: middle;
	width: 15%;
	height: 15%;
	border-radius: 50%;
}
/* Embed custom web font downloaded from web*/
@font-face {
	font-family: "killTheNoise";
	src: url(fonts/Kill_The_Noise.otf);
}
#landing-header {
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 30vh;
}
#landing-header h1{
	color: #fff;
	font-family: killTheNoise, Courier, Monospace;
}
.slideshow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
.slideshow li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	animation: imageAnimation 50s linear infinite;
}
.slideshow li:nth-child(1) {
    background-image: url(images/alex-knight-301005.jpg);
}
.slideshow li:nth-child(2) {
    background-image: url(images/luca-bravo-217276.jpg);
    animation-delay: 10s;
}
.slideshow li:nth-child(3) {
    background-image: url(images/alex-knight-329595.jpg);
    animation-delay: 20s;
}
.slideshow li:nth-child(4) {
   background-image: url(images/caspar-rubin-224229.jpg);
   animation-delay: 30s;
}
.slideshow li:nth-child(5) {
    background-image: url(images/benjamin-hung-340384.jpg);
    animation-delay: 40s;
}
@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}
/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}

  
/****************  code below *****************/

/*
=============== 
Fonts
===============
*/
/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  /*--clr-secondary: hsla(182, 63%, 54%);*/
  --clr-secondary: hsl(197, 95%, 38%);
  --clr-black: #222;
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: , "Libre Baskerville", serif;
  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Libre Baskerville", serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.about-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-secondary);
  text-align: center;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 1.25rem;
  line-height: 1.5;
  color: #10175f;
  text-align: center; 
}

.content  li {
  color: #10175f;
}

.coming-soon  p {
  margin-top: 1.25rem;
  color: RGB (66,113,113);
  font-size: 1.5rem;
  text-align: center;

}

#contact {
  background: hsl(196, 100%, 37%);
  font-size: 1.8em;
  text-align: center;
  align-items: center;
}

.contact-details {
  overflow: hidden;
  padding: 3em, 0em;
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.icon {
  display: block;
  font-size: 20px;
  margin-bottom: 1em;
}

#contact span,
#contact span a {
  color: white;
}
span.info{
  font-size: 17px;
}
.social-icons {
  margin-top: 10px;
}
.fa-github {
  color: white; 
  padding: 15px; 
}
.fa-linkedin {
  color: white;
  padding: 15px;
}

#phoneNumber a{
  color:chartreuse
}
#email a {
  color:chartreuse;
}
#github a {
  color:chartreuse;
}
#linkedin a {
  color:chartreuse;
}

/*  global classes */

.btn {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}
/* section */
.section {
  padding-bottom: 5rem; 
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}


/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: var(--clr-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1.5rem;
}
/* fixed nav */
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
nav .links a {
  color: var(--clr-grey-1);
}
nav .links a:hover {
  color: var(--clr-secondary);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  color: var(--clr-secondary);
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-1);
}
/* hero */

header {
  min-height: 100vh;
  background-color: white;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url('../images/color-tiles.jpg') center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

/* sections and title */
.title h2 {
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
#about,
#contact {
  /* height: 90vh; */
} 
#services {
  background: var(--clr-white);
}
footer {
  font-family: 'Libre Baskerville', serif;
  background: #B7D2D2;
  padding: 5rem 1rem;
}
footer p {
  color: black;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
/*
=============== 
About
===============
*/
.about-ul {
  list-style-type: square;
  padding-left: 15px;
}
li {
  line-height: 1.8;
  text-align: center;
}
.about {
  background: var(--clr-white);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 5em;
}
.btn-container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}
.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
}

.tab-btn {
  font-family: var(--ff-secondary);
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
}
.tab-btn:hover:not(.active) {
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
}
.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 2rem 1.5rem;
}
hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background: url("./images/hr1-raypham.gif") no-repeat top center;
  background-size: contain;
  display: block;
  height: 18px;
  border: 0;
  position: relative;
}
/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
.content.active {
  display: block;
}

/*
=============== 
Media 
===============
*/
@media only screen and (max-width: 500px) {
  #about, #contact {
    height:auto;
  }
  .about-img img.profile-pic {
    width: 40%;
  }
  .about {
    height: auto;
  }
  .icon {
    margin-top: 1em;
  }
  
}

@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
  .column {
      float:left;
      width: 33.33%;
  }
  #contact {
    min-height: 75vh; 
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
  .about-img {
    margin-bottom: 0;
  }

  .about-center {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
  }

}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }

}